<h1> Who developed this amazing website?<h1>

<p> THP students!<br> based on the amazing work of Alex, this new version of Gossip Project has been developed by 
  <li> Emma with the help of
  <li> Vincent
  <li> Louison
  <li> Jeremy
  <li> Benedicte
  <li> Nabil
  <li> Samir
</p>